.graph {
  display: flex;
  padding: 80px;

  .graphContainer {
    flex: 6;

    .widgets {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
  }

  /* Small tablets to large tablets: from 481px to 767px */
  @media (max-width: 767px) and (min-width: 481px) {
    padding: 40px;

    .graphContainer {
      .widgets {
        gap: 15px;
      }
    }
  }

  /* Small phones to large phones: from 320px to 480px */
  @media (max-width: 480px) {
    flex-direction: column;
    padding: 20px;

    .graphContainer {
      flex: unset;

      .widgets {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

